<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Form</title>
    <!-- favicon -->
    <link rel="icon" href="images/plane-icon.png">
    <!-- Links -->
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/validation.js" defer></script>
</head>

<body>
    <main>
        <header>
            <h1>Book Your Dream Vacation</h1>
        </header>
        <form id="booking-form" action="/submit" method="post">
            <!-- Destination -->
            <fieldset>
                <label for="destination">Destination</label>
                <select id="destination" name="destination">
                    <option value="none">Choose a destination...</option>
                    <option value="newyork">New York City, USA</option>
                    <option value="bali">Bali, Indonesia</option>
                    <option value="paris">Paris, France</option>
                    <option value="tokyo">Tokyo, Japan</option>
                    <option value="maldives">Maldives</option>
                </select>
            </fieldset>
            <!-- Departure Date -->
            <fieldset>
                <label for="departure">Departure Date</label>
                <input type="date" id="departure" name="departure">
            </fieldset>
            <!-- Number of Travelers -->
            <fieldset>
                <label for="travelers">Number of Travelers</label>
                <input type="number" id="travelers" name="travelers">
            </fieldset>
        </form>
        <button type="submit" form="booking-form" id="submit-button">Find My Vacation</button>
    </main>
    <footer>
        <a href="https://github.com/JamHudson/midterm-305-gr">https://github.com/JamHudson/midterm-305-gr</a>
    </footer>
</body>

</html>