:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --background-color: rgb(64, 109, 255);
    --alt-background-color: rgb(37, 26, 199);
    --primary-color: white;
    --header-background-color: rgb(38, 38, 38);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* This was confusing to figure out */
    margin: 0;
    min-width: 510px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 1rem;
    max-width: 100px;
    min-width: 75%;
    height: 80%;
    margin: auto;
}

header {
    background-image: url("/images/banner-image.jpg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-clip: padding-box;
    background-color: var(--header-background-color);
    padding: 5rem 2rem;
}

h1 {
    margin: 0;
    text-align: center;
    text-wrap: nowrap;
    font-size: min(3rem, max(4vw, 1rem));
    color: var(--primary-color);
    letter-spacing: 0.045em;
}

form {
    display: grid;
    grid-template: 1fr / 1fr;
    padding: 2rem;
}

/* The first fieldset that is an immediate child of form */
form>:first-of-type:is(fieldset) {
    grid-column: 1 / -1;
}

fieldset {
    border: none;
}

label {
    font-weight: 700;
    font-size: 1.25rem;
    display: block;
}

input,
select {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    height: 4rem;
}

button {
    background-image: linear-gradient(to right, var(--background-color), var(--alt-background-color));
    font-size: min(2rem, max(3vw, 1rem));
    border-radius: 2rem;
    color: var(--primary-color);
    width: 40%;
    margin: auto auto;
    padding: 0.5rem;
    font-weight: 700;
}

button:hover {
    transition: all 0.25s ease-out;
    background-image: linear-gradient(to right, var(--alt-background-color), var(--background-color));
    cursor: pointer;
    text-decoration: underline;
}

footer a {
    color: hsl(0 0% 70%);
}

footer a:hover {
    color: hsl(0 0% 100%);
}

@media only screen and (min-width: 680px) {
    form {
        grid-template: 1fr 1fr/ 1fr 1fr;
    }
}